/* SearchBar.css */

.search-bar-container {
    background-color: #f0f0f0;
    padding: 10px;
}

.search-bar {
    display: inline;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
}

input[type="text"] {
    flex: 1;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    margin-right: 10px;
}

select {
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button-search {
    padding: 8px 12px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 10px;
}

.button-search:hover {
    background-color: #555;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .search-bar {
        flex-direction: column;
    }

    input[type="text"],
    select,
    .button-search {
        margin: 5px 0;
        width: 100%;
    }
}